<!-- editar_equipo.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CRUD/stylesform.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Equipo</title>
</head>

<body>
    <h1>Crear Equipo</h1>
    <form method="POST">
        {% csrf_token %}
        {{ equipos.as_p }} <!-- Renderiza el formulario -->
        <button type="submit">Guardar cambios</button>
    </form>
    <a href="{% url 'index' %}">Cancelar</a>
</body>

</html>